{% extends "base.html" %}
    <title>{% block title %}{{ watch.title }}{% endblock %} </title>

{% block content %}
    <h1>{{ watch.title }}</h1>   
    <img src="{{ watch.image.url }}" alt="its">
    <h4>Description: {{watch.description}}</h4>
    <h4>Price: {{watch.price}}</h4>
    <h4>Page: {{watch.page}}</h4> 

    <hr><hr>
    <h2>Reviews</h2>
    <a href="{% url 'clocks:add_review' watch.pk %}" >Add Review</a>
    {% for review in reviews %}
        <h4>{{ review.user.username }} | {{ review.rating }}</h4>
        <p>{{ review.comment }}</p>
        {% if user.is_authenticated and review.user == user %}
        <form method="post" action="{% url 'clocks:review_delete' review.pk %}">
            {% csrf_token %}
            <input type="submit" value="Delete">
        </form>
        <br>
        <button><a href="{% url 'clocks:review_update' review.pk  %}">Update</a></button>
        {% endif %} 
        <hr>
    {% endfor %}
    <hr><hr>
    {% for i in  author %}
        {{ i.first_name }}
    {% endfor %}
{% endblock content %}