{% extends "base.html" %}
    <title>{% block title %} Books {% endblock %} </title>

{% block content %}
<div class="cards">
    {% for w in watchs %}
        <div class="card">
            <img class="watch-img" src="{{ w.image.url }}" alt="its">
            <h2>{{w.name}}</h2>
            <p class="price">${{ w.price }}</p>
            <p><a href="{% url  'clocks:watch_detail' w.pk %}"><button class="card-buttonss"> Batafsil ma'lumot</button></a></p>
        </div>
    {% endfor %}
</div>

{% endblock content %}